*{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(135deg, #EBB333, #E34943);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.generate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-box {
    width: 50%;
    height: 30px;
    text-indent: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#generate-button {
    width: 32px;
    height: 30px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

#generate-button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.qrcode {
    margin-top: 30px;
}

.qrcode img:hover {
    cursor: pointer;
}

.generated {
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7803b;
    border-radius: 10px;
}